@charset "UTF-8";

#logo{
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
}

#loginInfo{
	width: 100%;
	display: block;
	text-align: right;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
}

#loginInfo a{
	font-size: 15px;
}